# dependencies
node_modules

# env files
.env

# coverage
coverage
coverage.json

# typechain
typechain
typechain-types

# hardhat files
cache
artifacts

# zkSync files
artifacts-zk
cache-zk

# forge
cache_forge
out

# deployments
deployments/localhost

# other
temp