@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: rgb(156 163 175);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}
